<p><a name="simple"></a></p>
# Homework

### Problem 1

Import the math module and define a function that takes a number x and returns $\frac{x^{2} + x^{3}}{\sqrt{x}}$.

In [2]:
import math

def ex_1(x):
    return(((x**2) + (x**3))/(math.sqrt(x)))
    
ex_1(5)

67.08203932499369

### Problem 2

Define a function that takes a list `L` and a value `v` as input. The function should return a list that the first element is v and the second element is the maximum value in L. For example:

```
L = [1,2,3,0,0]
ex_2(L, 2) ---> [2,3]
```

In [8]:
Lst = [1,2,3,0,0]

def ex_2(L, v):
    return([L[v-1], max(L)])

ex_2(Lst, 2)

[2, 3]

### Problem 3

We discuss functional operators such as `map` and `filter`. They can take a function as argument.
- Define a function `apply_to_zero()` which takes a function as input and return the whatever the function returns when passing 0 to it. More precisely, the function is like:
```
apply_to_zero(math.sin) ---> sin(0) ---> 0.0
apply_to_zero(math.cos) ---> cos(0) ---> 1.0
apply_to_zero(math.exp) ---> exp(0) ---> 1.0
```

In [11]:
def apply_to_zero(func):
    return(func(0))

apply_to_zero(math.sin)
apply_to_zero(math.cos)

1.0

In [12]:
#### Test
import math

print(apply_to_zero(math.sin))
print(apply_to_zero(math.cos))
print(apply_to_zero(math.exp))

0.0
1.0
1.0

- Create a list of the function `math.sin`, `math.cos` and `math.exp`. Call this list `func_lst`.

In [16]:
func_lst = [math.sin, math.cos, math.exp]

- Apply all the functions in `func_lst` to 3. Do this with `map` and `lambda` expression.

In [18]:
# Your code here
list(map(apply_to_zero, func_lst))

[0.0, 1.0, 1.0]

### Problem 4
Define a function using filter to return all the lists whose length is 3 from a nested list. For example:
```
L = [[2, 5, 4, 9], [2, 2], [3, 4, 5]]
ex_4(L) ---> [[3,4,5]]
```

In [24]:
def ex_4(L):
    return(list(filter(lambda x: len(x) == 3, L)))

L = [[2, 5, 4, 9], [2, 2], [3, 4, 5]]

ex_4(L)

[[3, 4, 5]]

### Problem 5

- For the list, **Lst**, below, square all its elements.

In [25]:
Lst = [1,2,3]


list(map(lambda x: x**2, Lst))

[1, 4, 9]

- For the nested list, **Lst**, below, square all the elements in each inner list.

In [39]:
Lst = [[1,2,3],[2,3,4],[3,4,5]]

# Your code here
def lst_sq(Lst):
    return(list(map(lambda x: x**2, Lst)))

list(map(lst_sq, Lst))

[[1, 4, 9], [4, 9, 16], [9, 16, 25]]

- For the following nested list, **Lst**, keep the first inner list, square the second and cube the last one.

In [45]:
Lst = [[1,2,3],[2,3,4],[3,4,5]]

# Your code here
[Lst[0]]+list(map(lst_sq, Lst[1:]))

[[1, 2, 3], [4, 9, 16], [9, 16, 25]]

### Problem 6
- The function map can be used for multiple lists. Assume the list **Lst** below record the price of 6 consecutive days. Compute the daily return. 

**Hint**: Since we have data for 6 days, we have only 5 daily return.

In [81]:
Lst=[10., 11., 12., 13., 14., 15.]

def ref(lst):
    pass 
    lst1 = lst[0:5]
    lst2 = lst[1:6]
    return(list(map(lambda n: (lst2[n] - lst1[n])/lst1[n], range(len(Lst)-1))))
            
# Your code here

print(ref(Lst))
print(len(Lst)-2)
print(Lst[0:5])

[0.1, 0.09090909090909091, 0.08333333333333333, 0.07692307692307693, 0.07142857142857142]
4
[10.0, 11.0, 12.0, 13.0, 14.0]

- Find the days with returns greater than 8%. Your code need calculate the return and also report if it's the first day, second day...etc

In [97]:
days = range(1,6)
ret = ref(Lst)
dic = dict(zip(days, ret ))

dic[1]

0.1

### Problem 7
Write a function **countString** with two arguments *raw_string* and *string_to_count*. Your function should return the number of times of *string_to_count* occurs in the the *raw_string* argument. In addition, Your function should be case insensitive. 

[optional hints] [count](https://docs.python.org/2/library/string.html#string.count), [split](https://docs.python.org/2/library/string.html#string.split) method or [find](https://docs.python.org/2/library/string.html#string.find) method might be useful.

For example, *countString('welcome to nyc(NYC) data science academy!', 'nyc')* should return 2.

In [115]:
def countString(raw_string, string_to_count):
    st = raw_string.split(' ')
    return(sum(map(lambda x: x.count(string_to_count), st)))

In [116]:
countString('Welcome to nyc DATA SCIENCE ACADEMY!', 'NYC') # 1

0

In [117]:
countString('Welcome to nyc(NYC) data science academy!', 'nyc') # 2

1

In [118]:
countString('welcome to nyc(NYC) data science academy!', '') # 41 and 42 are both fine.

42

In [110]:
string = 'Welcome to nyc DATA SCIENCE ACADEMY!'
split = string.split(' ')
string.find('NYC')

-1

### Problem 8
Write a function reverseString with an argument *raw_string*.  Your function should return a new string, reverse the *raw_string* word by word.

For example *reverseString("welcome to NYC Data Science Academy")* should return "Academy Science Data NYC to welcome".

In [127]:
def reverseString(raw_string):
    split = string.split(' ')
    rev = split.reverse()
    return(rev.join(' '))

In [128]:
reverseString("welcome to NYC Data Science Academy") # "Academy Science Data NYC to welcome".

AttributeError: 'NoneType' object has no attribute 'join'

In [162]:
split = list(string.split(' '))

reverse = split[::-1]

" ".join(reverse)

'ACADEMY! SCIENCE DATA nyc to Welcome'

In [163]:
import os

In [164]:
os.getcwd()

'C:\\Users\\Gardenia'